#navigation {
    margin-left: 25px;
}

#navigation a {
    color: #0077CC;
    margin-left: 25px;
}


.desc {
    background-color: rgba(187, 193, 199, 0.815);
    font-weight: bold;
}

.border-top {
    border-top: 2px solid silver;
}


.bg-transparent {
    background-color: white;
}

.equal td {
    width: 25%;
}
