@model MarketplaceWebPortal_DAL.tblConsumer

@{
    ViewBag.Title = "AuthorizeUser";
}

<h2>AuthorizeUser</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <label>Email:</label> @Html.TextBoxFor(model => model.Email, new { @class = "textInput " })
            <label>Password:</label> @Html.TextBoxFor(model => model.Password, new { @class = "textInput " })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
            <div>
                <h2>@ViewData["consumer"]</h2>
            </div>
        </div>
    </div>
}
