@{
    ViewBag.Title = "Home Page";
}
@section styles{
    <link rel="stylesheet" href="~/Content/productpagestyle.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
}


<div class="container-fluid">
    <div class="row" hidden id="sending_param" name="@TempData["sub_id_from_search"]">@TempData["sub_id_from_search"]</div>
    <div class="row" hidden id="min_max__for_filter">@ViewData["jsonStr"]</div>
    <div class="row" hidden id="filter_name">@ViewData["Fields"]</div>
    <div id="button"></div>
    <div class="row">
        <div class="col-md-3 col-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <label>Search:</label>
                            <button type="submit" class="btn btn-lg btn-info">Save</button>
                            <button type="submit" class="btn btn-lg btn-info">Clear</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Product</td>
                        <td>Project</td>
                    </tr>
                    <tr>
                        <td colspan="2">Product Type</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label>Model Year:</label>
                            <input type="number" style="width:60px" id="minYear" value="2010"/>
                            <span style="padding-left:0px; padding-right:10px">--</span>
                            <input type="number" style="width:60px" id="MaxYear" value="2021"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <nav id="sidebar">
                                <ul class="list-unstyled components">

                                    <li class="active">
                                        <span style="margin-right:30px;">Technical Specifications</span>

                                        <a style="color:black" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> </a> <hr />
                                        <ul class="collapse list-unstyled" id="homeSubmenu">
                                            <li class="filterItem" style="margin-bottom: 20px;" hidden id="first">
                                                <p>
                                                    <i style="margin-right:10px;" class="fas fa-long-arrow-alt-up">&#xf309;</i>
                                                    <label for="amount" id="field0">Airflow(CFM)</label>
                                                </p>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <input type="hidden" class="sliderValue" id="amount" readonly />
                                                        <input type="text" style="" class="sliderValue" id="amountMinAir" readonly />
                                                    </div>
                                                    <div id="slider-range" class="col-md-6  sliderBox"></div>
                                                    <div class="col-md-2">
                                                        <input type="text" class="sliderValue" id="amountMaxAir" readonly>
                                                    </div>
                                                </div>
                                            </li>
                                            @*Power slide bar*@
                                            <li style="margin-bottom: 20px;" hidden id="second">


                                                <p>
                                                    <i style="margin-right:10px;" class="fas fa-long-arrow-alt-up">&#xf309;</i>
                                                    <label for="amount" id="field1">Max Power (W)</label>
                                                </p>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <input type="text" class="sliderValue" id="amountMinPower" readonly />
                                                    </div>
                                                    <div id="slider-range-power" class="col-md-6  sliderBox"></div>
                                                    <div class="col-md-2">
                                                        <input type="text" class="sliderValue" id="amountMaxPower" readonly>
                                                    </div>
                                                </div>
                                            </li>
                                            @*Sound slide bar*@
                                            <li style="margin-bottom: 20px;" hidden id="third">
                                                <p>
                                                    <i style="margin-right:10px;" class="fas fa-long-arrow-alt-up">&#xf309;</i>
                                                    <label for="amount" id="field2">Sound at max speed (dBA)</label>
                                                </p>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <input type="text" class="sliderValue" id="amountMinSound" readonly />
                                                    </div>
                                                    <div id="slider-range-sound" class="col-md-6  sliderBox"></div>
                                                    <div class="col-md-2">
                                                        <input type="text" class="sliderValue" id="amountMaxSound" readonly>
                                                    </div>
                                                </div>
                                            </li>
                                            @*Diameter slide bar*@
                                            <li style="margin-bottom: 20px;" hidden id="fourth">
                                                <p>
                                                    <i style="margin-right:10px;" class="fas fa-long-arrow-alt-up">&#xf309;</i>
                                                    <label for="amount" id="field3">Fan sweep diameter(in)</label>
                                                </p>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <input type="text" class="sliderValue" id="amountMinDiameter" readonly />
                                                    </div>
                                                    <div id="slider-range-diameter" class="col-md-6  sliderBox"></div>
                                                    <div class="col-md-2">
                                                        <input type="text" class="sliderValue" id="amountMaxDiameter" readonly>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>


                            </nav>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    @*<nav aria-label="breadcrumb">*@
                    <ul id="breadcrumbb">
                        <li class="breadcrumb-item"><a href="#" style="font-weight:bold" id="Category">Category</a></li>
                        <li class="breadcrumb-item"><a href="#" id="SubCategory">Subcategory</a></li>
                    </ul>
                    @*</nav>*@
                </div>
            </div>
            <div class="row" id="loading"><h1>Loading...</h1></div>
            <div class="row" id="iterating">

            </div>
            <a href="../../compare/index/?list=62&list=63&list=65" id="takeToCompare">Compare</a>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/products.js??version=7"></script>
}