
@{
    ViewBag.Title = "Index";
}

@section styles{
    <link rel="stylesheet" href="~/Content/details_compare.css" />
    }
<h2>Index</h2>
    <div class="container">

        <div class="row">
            <div class="col-12 bg-primary">
                <img src="~/Content/header.jpg" style="width:100%;"/>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light row" id="navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Product Summary</a>
                <a class="navbar-brand" href="#">Product Details</a>
                <a class="navbar-brand" href="#">Product Documentation</a>
                <a class="navbar-brand" href="#">Contact</a>
                <a class="navbar-brand" href="compare.html">Compare</a>
            </div>
        </nav>
        <div class="row">

            <div class="col-lg-1 col-1">

        <div class="col-10 col-lg-10">
            <h2 class="text-primary">Product Description</h2>
            <div class="row">
                <div class="col-lg-6 col-6">
                    <div class="row">
                        <Table class="table border-top">
                            <thead>
                                <tr>
                                    <th colspan="4">Produt Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="desc" colspan="2">Manfacture</td>
                                    <td id="Manfacture">Product.Manfacture</td>
                                </tr>
                                <tr>
                                    <td class="desc" colspan="2">Series</td>
                                    <td id="Series">Product.Series</td>
                                </tr>
                                <tr>
                                    <td class="desc" colspan="2">Model</td>
                                    <td id="Model">Product.Model</td>
                                </tr>
                            </tbody>
                        </Table>
                    </div>
                    <div class="row">
                        <Table class="table border-top">
                            <thead>
                                <tr>
                                    <th colspan="4">Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="desc" colspan="1">Use Type</td>
                                    <td id="UseType">Product.useType</td>
                                </tr>
                                <tr>
                                    <td class="desc" colspan="1">Application</td>
                                    <td id="Application">Product.Application</td>
                                </tr>
                                <tr>
                                    <td class="desc" colspan="1">Mounting Location</td>
                                    <td id="MountingLocation">Product.MountingLocation</td>
                                </tr>
                                <tr>
                                    <td class="desc" colspan="1">Accessories</td>
                                    <td id="Accessories" colspan="3">Product.Accessories</td>
                                </tr>
                                <tr>
                                    <td class="desc" colspan="1">Model Year</td>
                                    <td id="ModelYear">Product.ModelYear</td>
                                </tr>
                            </tbody>
                        </Table>
                    </div>
                </div>
                <div class="col-lg-6 col-6">
                    <Table class="table border-top">
                        <thead>
                            <tr>
                                <th colspan="6">Techical Specification</th>
                            </tr>
                        </thead>
                        <tbody id="ToAppend">
                        </tbody>
                    </Table>
                </div>
            </div>

            </div>
            <div class="col-1 col-lg-1">

            </div>
        </div>
    </div>
