
@{
    ViewBag.Title = "Index";
}

@section styles{
    <link rel="stylesheet" href="~/Content/details_compare.css" />
}
@section scripts{
    <script src="~/Scripts/details.js??version=1"></script>
}
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" id="navigation">
                <li class="nav-item active">
                    <a class="navbar-item" href="#">Product Summary <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="navbar-item" href="#">Product Detail</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-item" href="#">Product Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-item" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">

        <div class="col-lg-1 col-1">
            <div id="pid" hidden>@TempData["pid"]</div>
        </div>

        <div class="col-10 col-lg-10">
            <h2 style="margin-top:30px;" class="text-primary">Product Description</h2>
            <div class="row">
                <div class="col-lg-6 col-6">
                    <div class="row">
                        <Table class="table border-top">
                            <thead>
                                <tr>
                                    <th colspan="4">Produt Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="desc" colspan="2">Manfacture</td>
                                    <td id="Manfacture">Product.Manfacture</td>
                                </tr>
                                <tr>
                                    <td class="desc" colspan="2">Series</td>
                                    <td id="Series">Product.Series</td>
                                </tr>
                                <tr>
                                    <td class="desc" colspan="2">Model</td>
                                    <td id="Model">Product.Model</td>
                                </tr>
                            </tbody>
                        </Table>
                    </div>
                    <div class="row">
                        <Table class="table border-top">
                            <thead>
                                <tr>
                                    <th colspan="4">Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="desc" colspan="1">Use Type</td>
                                    <td id="UseType">Product.useType</td>
                                </tr>
                                <tr>
                                    <td class="desc" colspan="1">Application</td>
                                    <td id="Application">Product.Application</td>
                                </tr>
                                <tr>
                                    <td class="desc" colspan="1">Mounting Location</td>
                                    <td id="MountingLocation">Product.MountingLocation</td>
                                </tr>
                                <tr>
                                    <td class="desc" colspan="1">Accessories</td>
                                    <td id="Accessories" colspan="3">Product.Accessories</td>
                                </tr>
                                <tr>
                                    <td class="desc" colspan="1">Model Year</td>
                                    <td id="ModelYear">Product.ModelYear</td>
                                </tr>
                            </tbody>
                        </Table>
                    </div>
                </div>
                <div class="col-lg-6 col-6">
                    <Table class="table border-top">
                        <thead>
                            <tr>
                                <th colspan="6">Techical Specification</th>
                            </tr>
                        </thead>
                        <tbody id="ToAppend">
                        </tbody>
                    </Table>
                </div>
            </div>

        </div>

        <div class="col-1 col-lg-1">

        </div>
    </div>
</div>
